.card .register{
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
label{
    font-size: 12px;
    color: #69719d;
    margin-bottom: 4px;
}