.navbar {
  background-color: #214981;
}

.navbar .daftar {
  color: #ffffff;
  background-color: #28a745;
  border-color: #28a745;
  font-weight: 700;
}

#font {
  outline: none !important;
}

.navbar .daftar:hover {
  color: #ffffff;
  background-color: #107127;
  border-color: #28a745;
  font-weight: 700;
}

.navbar .masuk {
  color: #28a745;
  border-right: 3px solid #ffffff;
  border-top: none;
  border-bottom: none;
  border-left: none;
  background-color: #214981;
  font-weight: 700;
}

.navbar .masuk:hover {
  color: #ffffff;
  border-right: 3px solid #ffffff;
  background-color: #214981;
  font-weight: 700;
}

.gambar {
  margin-top: 35px;
  opacity: 1;
  width: 100%;
}

#Carousel {
  background-position: center center;
  background-image: url("https://i.ibb.co/HHTwHc5/salaman.png");
  height: 500px;
}

.body-head {
  border-left: 6px solid white;
  width: 600px;
  height: 300px;
  margin-left: 70px;
  margin-top: 30px;
}

.body-head h2 {
  margin-left: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 50px;
}

.body-head h3 {
  margin-left: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
}

.body-head h4 {
  color: #ffffff;
  margin-left: 20px;
  line-height: 120%;
  font-size: 28px;
  font-weight: 400;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  margin-bottom: 20px;
}

.body-head h6 {
  line-height: 120%;
  color: #ffffff;
  margin-left: 20px;
  line-height: 120%;
  font-size: 28px;
  font-weight: 700;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.title-kun h4 {
  color: #033c85;
  text-align: center;
  text-transform: uppercase;
  font-size: 2vw;
  font-weight: 700;
  padding: 50px 50px;
}

.pendanaan {
  padding-bottom: 50px;
  background-color: #eee;
}

.pendanaan h3 {
  font-size: 30px;
  padding-top: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #033c85;
  font-weight: bold;
}

.pendanaan .content-kun {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pendanaan .content-kun ul li.active a {
  font-size: 18px;
  border-bottom: 3px solid #033c85;
  color: #033c85;
}

.pendanaan .content-kun .nav-ling {
  text-transform: uppercase;
  font-size: 18px;
  color: black;
  margin-bottom: 50px;
}

.pendanaan .content-kun .nav-ling:hover {
  text-decoration: none;
  color: #033c85;
}

.pendanaan .promo-kun-3 {
  height: auto;
  transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.pendanaan .promo-kun-3 img {
  border-radius: 20px 20px 0 0;
}

.pendanaan .promo-kun-3 .card {
  border-radius: 20px 20px 0 0;
}

.pendanaan .promo-kun-3 .card-body {
  padding-left: 20px;
}

.pendanaan .promo-kun-3 .card-title span {
  margin-left: 30px;
  color: #28a745 !important;
}

.pendanaan .promo-kun-3 h6 {
  font-weight: 100;
}

.pendanaan .promo-kun-3 a {
  border-radius: unset;
}

.pendanaan .promo-kun-3:hover {
  border-radius: 20px 20px 0 0;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.proyek h2 {
  color: #033c85;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  padding: 50px 50px;
}

.proyek .body-proyek {
  background-color: #033c85;
}

.proyek .kanan {
  margin-left: -15px;
  background-color: #033c85;
  color: white;
  padding: 50px 20px 30px 80px;
}

.proyek .kanan h1 {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.proyek .isi-promo {
  margin-top: 80px;
}

.proyek .isi-promo h5 {
  font-weight: 200;
}

#gambar {
  background-color: white;
  padding-top: 70px;
  padding-bottom: 70px;
}

#gambar img {
  width: 60%;
  background-size: cover;
}

#gambar h4 {
  color: #033c85;
  font-weight: 600;
}

#gambar .rp {
  margin-top: 50px;
  color: black;
  font-size: 22px;
  font-weight: 500;
}

#gambar h5 {
  font-weight: bold;
  margin-left: 40px;
  font-size: 30px;
  margin-top: -40px;
}

#gambar #mil {
  color: black;
  font-size: 22px;
  font-weight: 400;
  font-weight: 500;
}

#gambar #juta {
  font-weight: 400;
  color: black;
  font-size: 22px;
}

#gambar .count-info-akun {
  margin-top: -30px;
}

#gambar .count-info-akun .akun {
  font-size: 30px;
  color: black;
  font-weight: 700;
}

.agency {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  background-color: #eee;
}

.agency h4 {
  text-align: center !important;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #033c85;
  margin-bottom: 100px;
}

.agency h5 {
  margin-top: 30px;
  text-align: center !important;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #033c85;
}

.agency .isi-body {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #474d6d;
}

.cara-kerja {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: white;
}

.cara-kerja h4 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0px;
  color: #033c85;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.cara-kerja .tabs-kun {
  margin-bottom: 80px;
}

.cara-kerja .tabs-kun ul li.active a {
  color: white;
  background-color: #033c85;
  outline: none;
}

.cara-kerja .tabs-kun a:hover {
  color: white;
  background-color: #033c85;
}

.cara-kerja .tabs-kun a {
  position: relative;
  padding: 10px 20px;
  font-size: 21px;
}

.cara-kerja .conten-tab .content-body h5 {
  padding-top: 60px;
  font-weight: 600;
  text-align: center !important;
  font-size: 23px;
}

.cara-kerja .conten-tab .content-body #arrow-kerja {
  float: right;
  margin-top: -90px;
  margin-right: -50px;
}

.cara-kerja .conten-tab .content-body #testi {
  color: #033c85;
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 35px;
}

.kerjasama {
  background-color: #eee;
}

.kerjasama img {
  width: 300px;
}

.kerjasama #join-kerjasama {
  width: 250px;
  height: 250px;
}

.kerjasama #kerjasama-yt {
  margin-top: 50px;
  margin-bottom: 75px;
}

.kerjasama #kerjasama-yt #row-kanan {
  font-size: 20px;
  font-weight: 400;
  color: #214981;
  text-align: left;
  margin-bottom: 70px;
}

.kerjasama #kerjasama-yt #row-kanan .isi {
  text-align: justify;
  color: #214981;
}

.ayat-alquran {
  background-image: url("https://i.ibb.co/D9B9Pmt/pattern-background.png");
  margin-top: -75px;
}

.ayat-alquran img {
  padding-top: 50px;
  width: 70%;
}

.ayat-alquran #kanan {
  padding-top: 100px;
}

.ayat-alquran #kanan h3 {
  color: #373c54;
  font-size: 25px;
}

.ayat-alquran #kanan p {
  font-size: 20px;
  color: #58595b;
  text-align: justify;
}

.blog img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: cover;
  min-height: 200px;
  height: auto;
  transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.blog img:hover {
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.blog h4 {
  color: #033c85;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
  padding: 50px 50px;
}

.blog #content-blog {
  background-color: #f9f9f9;
  padding: 15px 0;
}

.blog #content-blog .kun-item {
  padding: 15px;
}

.blog #content-blog .kunblog-title {
  padding-left: 15px;
  line-height: 110%;
  font-size: 25px;
  font-weight: 700;
  color: #414243;
  cursor: pointer;
}

.blog #content-blog .kunblog-title:hover {
  color: #28a745;
}

.blog #content-blog .kunblog-body {
  padding: 15px;
  text-align: justify;
}

.blog #content-blog .icon-title {
  margin-top: 10px;
  padding-left: 10px;
  line-height: 110%;
  font-size: 18px;
  font-weight: 700;
  color: #414243;
  cursor: pointer;
}

.blog #content-blog .icon-title:hover {
  color: #28a745;
}

.blog #content-blog .icon-body {
  padding: 10px 10px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding-bottom: 10px;
  font-size: 12px;
  color: #676a6d;
  overflow: hidden;
}

.blog ul {
  margin-top: 50px;
  margin-left: 450px;
}

.blog h5 {
  font-size: 1vw;
}

.partner h4 {
  letter-spacing: 0;
  color: #033c85;
  opacity: 1;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.hubungi-kami h4 {
  letter-spacing: 0;
  color: #033c85;
  opacity: 1;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.footer {
  background-color: #033c85;
  color: #ffffff;
}

.footer h4 {
  color: #fff;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.footer h5 {
  font-size: 12pt;
  letter-spacing: 2px;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  text-align: justify;
}

.footer h6 {
  font-size: 10pt;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

.footer img {
  padding: 100px 100px;
}

.background-wa .isi-wa {
  margin-left: auto;
  font-size: 30px;
  color: green;
  font-size: 20px;
  margin-bottom: 50px;
  margin-right: 10px;
  color: green;
  border: 2px solid green;
  border-radius: 30px;
  background: #fff;
  text-align: center;
}

.background-wa .isi-wa .btn {
  color: green;
  font-size: 20px;
  padding-right: 70px;
  margin-bottom: 7px;
}

.background-wa .isi-wa span {
  font-size: 25px;
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 10px;
}

.footer .container-fluid {
  background-color: #214981;
  color: white;
}

.header h2 {
  margin-left: -15px;
  margin-top: 4cm;
  text-align: left;
  font-weight: 700;
  letter-spacing: 0;
  color: #58595B;
  opacity: 1;
}

.header h6 {
  margin-left: -15px;
  margin-top: 1cm;
  font-size: 14px;
  letter-spacing: 0;
  color: #58595B;
  opacity: 1;
}

.header .row-header .card {
  border-radius: 10px;
}

.header .row-header .card img {
  border-top-left-radius: 15px;
}

.header .row-header .btn-hari {
  border-radius: 0;
  border-bottom-left-radius: 10px;
}

.header .row-header .pinjam {
  background-color: #ffffff;
}

.header .row-header .pinjam h5 {
  color: #58595B;
  font-family: Arial, Helvetica, sans-serif;
}

.header .row-header .pinjam span {
  font-weight: 700;
}

.header .row-header .pinjam #satu {
  font-size: 24px;
  color: #58595B;
  font-weight: 400;
}

.header .row-header .pinjam #rp {
  color: #214981;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.galeri .col-galeri {
  margin-left: -16px;
}

.galeri .image-galeri {
  height: 500px;
}

.galeri .row-simulasi {
  margin-top: 10cm;
}

.galeri .btn-galeri {
  color: #000000;
}

.galeri .btn-galeri:hover {
  background-color: #fff;
  color: #000000;
}

.galeri .btn-galeri-deskripsi {
  color: #000000;
}

.galeri .btn-galeri-deskripsi:hover {
  background-color: #fff;
  color: #000000;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  #gambar {
    background-color: white;
  }
  #gambar img {
    width: 60%;
  }
  #gambar h4 {
    color: #033c85;
    font-weight: 600;
  }
  #gambar .rp {
    color: black;
    font-size: 22px;
    font-weight: 500;
  }
  #gambar h5 {
    font-weight: bold;
    margin-left: 40px;
    font-size: 4vw;
    margin-top: -40px;
  }
  #gambar #mil {
    color: black;
    font-size: 22px;
    font-weight: 400;
    font-weight: 500;
  }
  #gambar #juta {
    font-weight: 400;
    color: black;
    font-size: 22px;
  }
  #gambar .count-info-akun {
    margin-top: -30px;
  }
  #gambar .count-info-akun .akun {
    font-size: 4vw;
    color: black;
    font-weight: 700;
  }
}

.Slider {
  height: 900px;
  margin: auto;
}
/*# sourceMappingURL=App.css.map */