$warnaRed : #F2334E;
$warnaPutih : #FFFFFF;
$warnaHitam : #333333;
$maxwidth : 1920px;

@media only screen and (max-width: 1920px) and (min-width: 1500px) {
  .bgheadstore {
    background: url('assets/img/home/bgilustrasi.svg') no-repeat padding-box;
    background-position: top left 81%;
    background-size: 38%;
    max-width: $maxwidth;
    height: 100%;
  }

  .bgheadstore.subdomain {
    background: url('assets/img/home/html/onstore/Path 647.png') no-repeat padding-box;
    background-position: top right 138%;
    background-size: contain;
    opacity: 1;
    max-width: $maxwidth;
    height: 1000px;
  }

}

@media only screen and (max-width: 640px) {
  
  .navbar-collapse {
    position: fixed;
    margin-top: 60px;
    margin-left: 0px;
  }

  .navbar {
    background: rgba(255, 255, 255, 0.6);
    height: max-content;
    top:0px !important;
    padding:2.5rem 1rem !important;
  }

  .navbar-nav {
    flex-direction: row;
    // width: max-content;
    width: 160px;
    background-color: $warnaRed;
    background-attachment: fixed;
    background-position: top right;
    margin-left: -97px;
    margin-top: -20px;
    height: -webkit-fill-available;
    margin-top: -95px;
    padding-top: 70px;
    position: fixed;
  }

  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    padding-top: 15px;
  }

  .navbar .navhome {
    margin-right: 0px !important;
    text-align: right;
    width: 135px;
    letter-spacing: 0px;
    font-family: Roboto !important;
    font-size: 14px;
    color: #FFFFFF !important;
    text-transform: uppercase;
    opacity: 1;
  }
  
  .navbar .navtentangkami {
    margin-right: 20px !important;
    text-align: right;
    letter-spacing: 0px;
    font-family: Roboto !important;
    font-size: 14px;
    color: #FFFFFF !important;
    text-transform: uppercase;
    opacity: 1;
  }
  
  .navbar .navlayanan {
    margin-right: 20px !important;
    text-align: right !important;
    margin-top: 0px !important;
    letter-spacing: 0px;
    font-family: Roboto !important;
    font-size: 14px;
    color: #FFFFFF !important;
    text-transform: uppercase;
    opacity: 1;
  }
  
  .navbar .navberita {
    margin-right: 20px !important;
    text-align: right;
    letter-spacing: 0px;
    font-family: Roboto !important;
    font-size: 14px;
    color: #FFFFFF !important;
    text-transform: uppercase;
    opacity: 1;
  }
  
  .navbar .navkontak {
    margin-right: 20px !important;
    text-align: right;
    letter-spacing: 0px;
    font-family: Roboto !important;
    font-size: 14px;
    color: #FFFFFF !important;
    text-transform: uppercase;
    opacity: 1;
  }
  
  .navbar .navmasuk {
    margin-left: 90px !important;
    text-align: center;
    letter-spacing: 0px;
    font-family: Roboto !important;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
  }

  .navbar .masuk {
    // color: #FFFFFF !important;
    // border-right: 1px #ffffff;
    // box-shadow: 0px 0px 0px #ffffff;
    // border-top: none;
    // border-bottom: none;
    // border-left: none;
    // font-weight: 700;
    // width: 125px;
    // text-align: center;
    color: #FFFFFF !important;
    border-right: 0px #ffffff;
    box-shadow: 0px 0px 0px #ffffff;
    border-top: none;
    border-bottom: none;
    border-left: none;
    font-weight: 700;
    width: 0px;
    text-align: center;
  }
  
  .navbar .masuk:hover {
    color: #ffffff;
    border-right: 3px solid #ffffff;
    font-weight: 700;
  }

  .fixed-top {
    position: fixed !important;
  }

  .navbar-dark .navbar-toggler {
    // border-color : #333333 !important;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(51, 51, 51)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    padding-right: 15px !important;
  }
  
  .bghead {
    background: url(/static/media/bgilustrasi.e40479fb.svg) no-repeat padding-box;
    background-position: top 105px right -56px;
    background-size: 75%;
    height: 746px;
  }

  .bgtop {
    margin-top: -200px;
    background: url(/static/media/illustrasitop.9b8fed4a.svg) no-repeat padding-box;
    background-position: center;
    background-size: 65%;
  }

  .headtopp{
    top: 410px;
    width: 625px;
    height: 173px;
  }

  .detailheadtopp{
    text-align: center;
    font: Bold 18px/40px Poppins;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    width: 100%;
  }

  .subheadtopp {
    text-align: center;
    margin-top: 10px;
    font: 12px/24px Roboto;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
  }

  .daftarBtn {
    margin-left: 25%;
    margin-top: 10px;
    width: 194px;
    height: 36px;
    background: $warnaRed 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 10px $warnaRed 3D;
    border-radius: 6px;
    opacity: 1;
  }

  .headtentang {
    text-align: center;
    font: Bold 20px/40px Poppins;
    letter-spacing: 0pt;
    color: #333333;
    opacity: 1;
  }
  
  .childTentang {
    text-align: center;
    font: 16px/30px Roboto;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
  }

  .tentangapp {
    text-align: center;
    margin-top: 0px;
    top:230px;
  }

  .isitentangappon {
    width: auto;
    margin-left: 0px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 5px;
    font: 16px/24px Roboto;
    letter-spacing: 0px;
    color: #333333;
  }

  .pendaftaranapp {
    text-align: center;
    margin-top:240px;
    // top: 240px;
  }

  .pengusahaRight {
    margin-left: 0px;
  }

  .headpendaftaran {
    font: Bold 20px/27px Poppins;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
  }
  
  .pendaftaranTentang {
    padding-top: 10px;
    text-align: center;
    font: 16px/26px Roboto;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
  }

  .pengusahaCard{
    margin-top: 20px;
    width: 310px;
    height: 370px;
    background: url('assets/img/home/html/cardpengusaha.svg') no-repeat padding-box;
    background-size: cover;
    border-radius: 20px;
    opacity: 1;
    // margin-left: 10px !important;
    margin-left: 8% !important;
  }
  
  .pengusahaRight {
    margin-left: 0px;
    margin-top: -30px;
  }
  
  .bgslidapp.col-12 {
    // flex: none;
    // width: 0px;
    // padding: 0 !important;
    // margin: 0 !important;
    display:none;
  }
  .paddslider {
    padding-top: 50px !important;
    // display:contents;
    // margin-top: -240px;
  }

  .bgsliddark {
    background: #333333 0% 0% no-repeat padding-box;
    height: 250px;
    background-size:100%;
  }

  .judulsliddark {
    text-align: center;
    font: Bold 18px/32px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-top: 40px;
    padding-left: 0px;
    padding-bottom: 0px;
  }

  .subsliddark {
    text-align: center;
    padding-left: 0px;
    font: 11px/20px Roboto;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    opacity: 1;
  }

  .carousel-indicators li {
    // box-sizing: inherit !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
    box-sizing: content-box !important;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
  }
  .carousel-indicators .active {
    background-color: $warnaRed;
  }

  .carousel-control-next, .carousel-control-prev {
    // margin-top: 280px;
    // margin-top: -50px;
    display: none !important;
  }
  
  .carousel-control-prev-icon {
    width: 40px !important;
    height: 40px !important;
    margin-left: -0px;
  }
  
  .carousel-control-next-icon {
    width: 40px !important;
    height: 40px !important;
    margin-left: 0px;
  }

  .contentpendaftaran {
    padding-top: 0px;
  }

  .beritaapp {
    text-align: center;
    margin-top:0px;
  }
  
  .headberita {
    font: Bold 25px/30px Poppins;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
  }
  
  .beritatentang {
    padding-top: 20px;
    text-align: center;
    font: 15.8px/26px Roboto;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    padding-bottom: 20px;
  }

  .cardberita {
    background: #E9E9E9 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 12px #00000024;
    border-radius: 20px;
    opacity: 1;
    width: 346px;
    height: 437px;
    background-size: 100%;
    opacity: 1;
    margin-left: 0px;
  }

  .mberitaRow {
    padding : 20px 37px;
  }

  .mberita2 {
    display: none
  }

  .mberita3 {
    display: none;
  }

  .BtnArtikel {
    width: 204px;
    margin-left: 25%;
    height: 36px;
    background: rgba(242,51,78,1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 3px rgba(242,51,78,1);
    border-radius: 6px;
    opacity: 1;
    color: rgba(242,51,78,1) !important;
  }

  .footer {
    margin-top: 60px;
    background: transparent linear-gradient(180deg, $warnaRed 0%, #F05C72 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  .bgfooter {
    background: transparent url('assets/img/home/html/footerilustrasi.svg') 0% 0% no-repeat padding-box;
    background-size: 100%;
    opacity: 1;
    width: 463px;
    height: 361px;
    margin-top: -265px;
    display: none;
  }
  
  .foot1 {
    padding-left: 0px !important;
    padding-top: 25px;
    text-align: center;
    font: 14px/17px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
  
  .foot2 {
    padding-top:25px;
    padding-left: 0px !important;
    text-align: center;
    font: 14px/17px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
  
  .foot3 {
    font: 14px/17px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
  
  .foot4 {
    font: 14px/17px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top:-30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  
  .bgheadSignin {
    background: none;
    background-position: 0px;
    background-size: 0%;
    max-width: 1920px;
  }
  
  .nav-link.navdaftar {
    margin-right: 20px !important;
    text-align: right;
    letter-spacing: 0px;
    font-family: Roboto !important;
    font-size: 14px;
    color: #FFFFFF !important;
    text-transform: uppercase;
    opacity: 1;
    display:block;
  }       
  
  .nav-link.mnavmasuk {
    margin-right: 20px !important;
    text-align: right;
    letter-spacing: 0px;
    font-family: Roboto !important;
    font-size: 14px;
    color: #FFFFFF !important;
    text-transform: uppercase;
    opacity: 1;
    display:block;
  }    

  .navlogout {
    text-align: left;
    font: 14px/17px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF !important;
    text-transform: uppercase;
    opacity: 1;
    padding-left: 65px !important;
    }
    
  .menuHeadbar {
    background: #333333 0% 0% no-repeat padding-box !important;
    opacity: 1;
    margin-top: 110px !important;
    padding-left : 5px !important;
  }
  
  .imgdelfileKeahlian {
    background: none !important;
    padding: 0px 0px 0px 95px !important;
  }
  
  .delfileKeahlian {
    width: 100% !important;
    margin-bottom: -6px !important;
  }
  
  .addKeahlian {
    width: 60% !important;
  }

  .contentModalDaftar2 {
    padding-top: 25px;
    padding-bottom: 50px;
    display: contents !important;
  }

  .btnDaftarMasuk {
    background-color:  $warnaRed !important;
     color: #FFFFFF !important;
     padding: 13px !important;
     width: 215px !important;
     height: 50px;
     font: bolder 18px/2px Montserrat;
 }

 .btnDaftarKembali {
  border: 1px solid  $warnaRed !important;
    color: $warnaRed !important;
    border-radius: 8px;
    opacity: 1;
    padding: 13px !important;
    width: 215px !important;
    height: 50px;
    font: bolder 18px/2px Montserrat;
    margin-top: -7px !important;
    margin-bottom: 50px;
}
  
.bgheadstore {
  background: url('assets/img/home/bgilustrasi.svg') no-repeat padding-box;
  background-position: top 105px right -56px;
  background-size: 75%;
  height: 746px;
}

.beliBtn {
  margin-top: 30px;
  width: 204px;
  height: 36px;
  background: $warnaRed 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 10px $warnaRed 3D;
  border-radius: 6px;
  opacity: 1;
}

.bgtopstore {
  background: url('assets/img/home/html/onstore/topilustrasi.svg') no-repeat padding-box;
  background-position: center;
  background-size: 80%;
}

.headtopp.store {
  display: none;
}

.pendaftaranappstore {
  text-align: center;
  margin-top:0px;
}

.headpendaftaranstore {
  text-align: center;
  font: Bold 18px/32px Poppins;
  letter-spacing: 0px;
  color: $warnaHitam;
  opacity: 1;
}

.choosePaket {
  padding-top: 50px !important;
}

.paket2 {
  margin-top: 50px !important;
}

.titleKeuntungan {
  width: -webkit-fill-available;
  margin-top: 50px;
  text-align: center;
  font: Bold 18px/32px Poppins;
  letter-spacing: 0px;
  color: $warnaHitam;
  opacity: 1;
}

.subtitleKeuntungan {
  text-align: center;
  font: 16px/26px Roboto;
  letter-spacing: 0px;
  color: $warnaHitam;
  opacity: 1;
}


.kontenKeuntungan {
  margin-top: 50px !important;
  padding : 10px;
  margin: auto;
}

.keuntungan2 {
  margin-top:50px !important;
}

.judulKeuntungan {
  text-align: center;
  font: Bold 18px/44px Poppins;
  letter-spacing: 0px;
  color: $warnaHitam;
  opacity: 1;
  padding: 10px;
}

.descKeuntungan {
  text-align: center;
  font: 13px/24px Roboto;
  letter-spacing: 0px;
  color: $warnaHitam;
  opacity: 1;
}

.cardTestimonial {
  margin-top:50px;
}

.titleTestimonial {
  width: -webkit-fill-available;
  text-align: center;
  font: Bold 18px/32px Poppins;
  letter-spacing: 0px;
  color: $warnaHitam;
  opacity: 1;
}

.subtitleTestimonial {
  text-align: center;
  font: 16px/26px Roboto;
  letter-spacing: 0px;
  color: $warnaHitam;
  opacity: 1;
}

.sliderTestimonial {
  margin-top: 30px;
  background: url('assets/img/home/html/onstore/Path 647.svg') 0% 0% no-repeat padding-box;
  background-size: 375px;
  height: 375px;
  margin-left:2% !important;
}

.imgTesti {
  width: 88px;
  height: 88px;
}

.divimgTesti {
  width : inherit;
  text-align: center;
  letter-spacing: 0px;
  opacity: 1;
  padding-top: 0px;
  padding-left: 25%;
}

.namaTesti {
  text-align: center;
  width: inherit;
  font: Bold 20px/10px Poppins;
  letter-spacing: 0px;
  color: $warnaHitam;
  opacity: 1;
  padding-top: 10px;
  padding-right: 35%;
}

.subnamaTesti {
  width: inherit;
  text-align: center;
  font: 14px/24px Roboto;
  letter-spacing: 0px;
  color: $warnaHitam;
  opacity: 1;
  padding-right: 35%;
}

.descTesti {
  width: 369px;
  // height: 141px;
  // width: 361px;
  height: 340px;
  text-align: center;
  font: Italic 12px/19px Roboto;
  letter-spacing: 0px;
  color: $warnaHitam;
  opacity: 1;
  padding:30px;
  margin-top: -30px;
}

.carousel-indicators li {
  box-sizing: inherit !important;
}

.bgheadstore.subdomain {
  background: none;
  background-position: top left -350px;
  background-size: 915px;
  opacity: 1;
  max-width: $maxwidth;
  height: 900px;
}

.headtoppsubdomain {
  top: 119px;
}

.monstoresub>img{
  content: url("assets/img/home/html/onstore/logowebhitam.svg");
}

.navbar .navhomestore {
  margin-left: 100px !important;
  margin-right: 0px !important;
  text-align: left;
  width:40px;
  letter-spacing: 0px;
  font-family: Roboto !important;
  font-size: 14px;
  color: $warnaPutih !important;
  text-transform: uppercase;
  opacity: 1;
}

.navbar .navtentangkamistore {
  margin-right: 20px !important;
  text-align: right;
  letter-spacing: 0px;
  font-family: Roboto !important;
  font-size: 14px;
  color: #FFFFFF !important;
  text-transform: uppercase;
  opacity: 1;
}

.navbar .navlayananstore {
  margin-left: 5px !important;
  margin-right: 15px !important;
  text-align: right !important;
  margin-top: 0px !important;
  letter-spacing: 0px;
  font-family: Roboto !important;
  font-size: 14px;
  color: $warnaPutih !important;
  text-transform: uppercase;
  opacity: 1;
}

.navbar .navberitastore {
  margin-left: 110px !important;
  margin-right: 0px !important;
  text-align: left;
  letter-spacing: 0px;
  font-family: Roboto !important;
  font-size: 14px;
  color:$warnaPutih !important;
  text-transform: uppercase;
  opacity: 1;
}

.navbar .navkontakstore {
  margin-right: 0px !important;
  margin-left: 85px !important;
  text-align: left;
  letter-spacing: 0px;
  font-family: Roboto !important;
  font-size: 14px;
  color: $warnaPutih !important;
  text-transform: uppercase;
  opacity: 1;
}

.subdomain .navbar .navhomestore {
  margin-right: 20px !important;
  text-align: left;
  width:40px;
  letter-spacing: 0px;
  font-family: Roboto !important;
  font-size: 14px;
  color: $warnaPutih !important;
  text-transform: uppercase;
  opacity: 1;
}

.subdomain .navbar .navtentangkamistore {
  margin-right: 20px !important;
  text-align: right;
  letter-spacing: 0px;
  font-family: Roboto !important;
  font-size: 14px;
  color: #FFFFFF !important;
  text-transform: uppercase;
  opacity: 1;
}

.subdomain .navbar .navlayananstore {
  margin-left: 5px !important;
  margin-right: 15px !important;
  text-align: right !important;
  margin-top: 0px !important;
  letter-spacing: 0px;
  font-family: Roboto !important;
  font-size: 14px;
  color: $warnaPutih !important;
  text-transform: uppercase;
  opacity: 1;
}

.subdomain .navbar .navberitastore {
  margin-left: 85px !important;
  margin-right: 0px !important;
  text-align: left;
  letter-spacing: 0px;
  font-family: Roboto !important;
  font-size: 14px;
  color:$warnaPutih !important;
  text-transform: uppercase;
  opacity: 1;
}

.subdomain .navbar .navkontakstore {
  margin-left: 110px !important;
  margin-right: 0px !important;
  text-align: left;
  letter-spacing: 0px;
  font-family: Roboto !important;
  font-size: 14px;
  color: $warnaPutih !important;
  text-transform: uppercase;
  opacity: 1;
}

.subdomain.mlangkah1>img {
  content: url("assets/img/home/html/onstore/1.png");
}

.subdomain.mlangkah1 .headstep {
  text-align: left;
  font: bolder 18px/27px Poppins;
  letter-spacing: 0px;
  color: $warnaHitam;
  opacity: 1;
  position: relative;
  visibility: hidden;
}
.subdomain.mlangkah1 .headstep:after{
  visibility: visible;
  margin-left: -45%;
  text-align: left;
  top: 0;
  left: 0;
  font: bolder 18px/27px Poppins;
  letter-spacing: 0px;
  color: $warnaHitam;
  opacity: 1;
  content: 'Langkah 1/4';
}

.subdomain.mlangkah1 .subheadstep {
  text-align: left;
  font: 15px/1px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.subdomain .footerNext {
  margin-top: 123px;
}

.subdomain.mlangkah2 {
  display: none;
}
.subdomain.mlangkah3 {
  display: none;
}
.subdomain.mlangkah4 {
  display: none;
}

.isiform.mlangkah1 {
  display: none;
}
.isiform.mlangkah3 {
  display: none;
}
.isiform.mlangkah4 {
  display: none;
}

.headtoppsubdomain.isiform {
  top : 50px;
}

.isiform.mlangkah2>img {
  content: url("assets/img/home/html/onstore/2.png");
}

.isiform.mlangkah2 .headstepnotactive {
  text-align: left;
  font: bolder 18px/27px Poppins;
  letter-spacing: 0px;
  color: $warnaHitam;
  opacity: 1;
  position: relative;
  visibility: hidden;
}
.isiform.mlangkah2 .headstepnotactive:after{
  visibility: visible;
  margin-left: -45%;
  text-align: left;
  top: 0;
  left: 0;
  font: bolder 18px/27px Poppins;
  letter-spacing: 0px;
  color: $warnaHitam;
  opacity: 1;
  content: 'Langkah 2/4';
}
.isiform.mlangkah2 .subheadstepnotactive {
  text-align: left;
  font: 15px/1px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.isiform.formheadtoppsubdomain {
  top: 75px;
}

.isiform.btnNextToko {
  background: $warnaPutih 0% 0% no-repeat padding-box !important;
  width: 150px;
  height: 40px;
  border: 1px solid $warnaRed !important;
  border-radius: 6px !important;
  opacity: 1;
  color: $warnaRed !important;
}

.btnNextDaftar {
  background: $warnaRed 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 4px 10px $warnaRed !important;
  border-radius: 6px !important;
  opacity: 1;
  width: 150px;
  height: 40px;
  color : $warnaPutih !important;
}

.referral.mlangkah1 {
  display: none;
}

.referral.mlangkah2 {
  display: none;
}

.referral.mlangkah4 {
  display: none;
}

.headtoppsubdomain.referral {
  top : 50px;
}

.referral.mlangkah3>img {
  content: url("assets/img/home/html/onstore/3.png");
}

.referral.mlangkah3 .headstepnotactive {
  text-align: left;
  font: bolder 18px/27px Poppins;
  letter-spacing: 0px;
  color: $warnaHitam;
  opacity: 1;
  position: relative;
  visibility: hidden;
}
.referral.mlangkah3 .headstepnotactive:after{
  visibility: visible;
  margin-left: -45%;
  text-align: left;
  top: 0;
  left: 0;
  font: bolder 18px/27px Poppins;
  letter-spacing: 0px;
  color: $warnaHitam;
  opacity: 1;
  content: 'Langkah 3/4';
}
.referral.mlangkah3 .subheadstepnotactive {
  text-align: left;
  font: 15px/1px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.referral.formheadtoppsubdomain {
  top: 75px;
}

.referral.mlangkah1 {
  display: none;
}

.referral.mlangkah2 {
  display: none;
}

.referral.mlangkah4 {
  display: none;
}

.headtoppsubdomain.metodebayar {
  top : -250px;
}

.metodebayar.mlangkah4>img {
  content: url("assets/img/home/html/onstore/4.png");
}

.metodebayar.mlangkah4 .headstepnotactive {
  text-align: left;
  font: bolder 18px/27px Poppins;
  letter-spacing: 0px;
  color: $warnaHitam;
  opacity: 1;
  position: relative;
  visibility: hidden;
}
.metodebayar.mlangkah4 .headstepnotactive:after{
  visibility: visible;
  margin-left: -45%;
  text-align: left;
  top: 0;
  left: 0;
  font: bolder 18px/27px Poppins;
  letter-spacing: 0px;
  color: $warnaHitam;
  opacity: 1;
  content: 'Langkah 4/4';
}
.metodebayar.mlangkah4 .subheadstepnotactive {
  text-align: left;
  font: 15px/1px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.metodebayar.formheadtoppsubdomain {
  top: -200px;
}

.metodebayar.footerNext3 {
  margin-top: 50px;
}

.bgjudulberita {
  background: #333333 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 0px 0px 0px 5px;
  width: 104.6%
}

}
// EndMedia640px

@media screen and (max-width: 1024px) and (min-width: 641px)  { 

  .nav-link.mnavmasuk {
    display: none;
  }   

  .nav-link.navdaftar {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
    width: max-content;
    background-attachment: fixed;
    background-position: top right;
  }

  .navlogout {
    text-align: left;
  font: 14px/17px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF !important;
  text-transform: uppercase;
  opacity: 1;
  padding-left: 130px !important;
  }

  .navSign {
    margin-right: 240px;
  }

  .navbar .navhome {
    margin-right: 25px !important;
    text-align: left;
    width:40px;
    letter-spacing: 0px;
    font-family: Roboto !important;
    font-size: 14px;
    color: #333333 !important;
    text-transform: uppercase;
    opacity: 1;
  }
  
  .navbar .navtentangkami {
    margin-right: 25px !important;
    text-align: left;
    letter-spacing: 0px;
    font-family: Roboto !important;
    font-size: 14px;
    color: #333333 !important;
    text-transform: uppercase;
    opacity: 1;
  }
  
  .navbar .navlayanan {
    margin-right: 25px !important;
    text-align: left;
    margin-top: 0px !important;
    letter-spacing: 0px;
    font-family: Roboto !important;
    font-size: 14px;
    color: #333333 !important;
    text-transform: uppercase;
    opacity: 1;
  }
  
  .navbar .navberita {
    margin-right: 25px !important;
    text-align: left;
    letter-spacing: 0px;
    font-family: Roboto !important;
    font-size: 14px;
    color: #333333 !important;
    text-transform: uppercase;
    opacity: 1;
  }
  
  .navbar .navkontak {
    margin-right: 25px !important;
    text-align: left;
    letter-spacing: 0px;
    font-family: Roboto !important;
    font-size: 14px;
    color: #333333 !important;
    text-transform: uppercase;
    opacity: 1;
  }
  
  .navbar .navmasuk {
    margin-left: 80px !important;
    text-align: left;
    letter-spacing: 0px;
    font-family: Roboto !important;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
  }

  .navbar .masuk {
    color: #FFFFFF !important;
    border-right: 1px #ffffff;
    box-shadow: 0px 0px 2px #ffffff;
    border-top: none;
    border-bottom: none;
    border-left: none;
    font-weight: 700;
    width: 125px;
    text-align: center;
  }
  
  .navbar .masuk:hover {
    color: #ffffff;
    border-right: 3px solid #ffffff;
    font-weight: 700;
  }
  
  .bghead {
    background: url('assets/img/home/bgilustrasi.svg') no-repeat padding-box;
    background-position: top right -150px;
    background-size: 50%;
    height: 746px;
  }

  .bgheadDashboard {
    background: url('assets/img/home/bgilustrasi.svg') no-repeat padding-box;
    background-position: top right -540px;
    background-size: contain;
    max-width: 100%;
    height: auto;
  }

  .menuHeadbar {
    background: #333333 0% 0% no-repeat padding-box !important;
    opacity: 1;
    margin-top: 40px !important;
    padding-left : 20px !important;
  }

  .isitentangappon {
    text-align: center;
    padding-left: 40px;
    padding-right: 215px;
    line-height: 5px;
    font: 16px/24px Roboto;
    letter-spacing: 0px;
    color: #333333;
  }

  .pengusahaRight {
    margin-left: 130px;
  }

  .bgsliddark {
    background: #333333 0% 0% no-repeat padding-box;
    height: 359px;
    background-size:100%;
  }

  .judulsliddark {
    text-align: left;
    font: Bold 16px/32px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-top: 70px;
    padding-left: 50px;
    padding-bottom: 10px;
  }
  
  .subsliddark {
    text-align: left;
    padding-left: 50px;
    font: 12px/28px Roboto;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    opacity: 1;
  }

  .carousel-indicators li {
    box-sizing: inherit !important;
  }
  
  .carousel-control-next, .carousel-control-prev {
    margin-top: 0px;
  }
  
  .carousel-control-prev-icon {
    width: 40px !important;
    height: 40px !important;
    margin-left: -50px;
  }
  
  .carousel-control-next-icon {
    width: 40px !important;
    height: 40px !important;
    margin-left: 50px;
  }

  .beritaapp {
    text-align: center;
    margin-top:0px;
  }
  
  .cardberita {
    background: #E9E9E9 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 12px #00000024;
    border-radius: 20px;
    opacity: 1;
    width: 346px;
    height: 470px;
    background-size: 100%;
    opacity: 1;
    margin-left: 51px;
    padding-top:142px;
    padding-left:0px;
  }

  .mberitaRow {
    padding : 0px;
  }

  .bgjudulberita {
    background: #333333 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 0px 0px 0px 5px;
    width: 108.3%
  }
  
  .descjudulberita {
    text-align: left;
    font: 14px/24px Roboto;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
  }
  
  .padjudulberita {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
  }
  
}
// EndMedia1024px

@media screen and (max-width: 980px) and (min-width: 641px) { 
  .nav-link.navdaftar {
    display: none;
  }

  .nav-link.mnavmasuk {
    display: none;
  }   
  
    .navbar {
        top: 27px !important;
        left: 65px;
        width: auto;
        height: 34px;
        // background-color: #214981;
      }
      
      .fixed-top {
        position: relative !important;
      }
      
      .navbar-dark .navbar-nav .nav-link {
        color :#FFFFFF !important;
        background-color: $warnaRed;
      }

      .navbar-collapse {
          position: fixed;
          margin-top: 60px;
          margin-left: 0px;
          max-width: 1920px;
          color: #FFFFFF !important;
      }
      
      .navbar-nav {
        flex-direction: row;
        width: max-content;
        background-color: $warnaRed;
        background-attachment: fixed;
        background-position: top right;
        // height: 220px;
        // width: 180px;
        // position: absolute;
        margin-left: -110px;
        margin-top: -20px;
        height: 220px;
        width: 195px;
        position: absolute;
      }
      
      .ui.simple.dropdown .menu {
        background-color : $warnaRed;
      }
      
      .ui.dropdown .menu>.item {
        color : #FFFFFF !important;
      }

      .nav-link {
        padding-right: .5rem !important;
        padding-left: .5rem !important;
      }
      
      /* Fixes dropdown menus placed on the right side */
      .ml-auto .dropdown-menu {
        left: auto !important;
        right: 0px;
      }

      .navbar .navhome {
        margin-right: 0px !important;
        text-align: left;
        width:40px;
        letter-spacing: 0px;
        font-family: Roboto !important;
        font-size: 14px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
      }
      
      .navbar .navtentangkami {
        margin-right: 40px !important;
        text-align: left;
        letter-spacing: 0px;
        font-family: Roboto !important;
        font-size: 14px;
        color: #333333;
        text-transform: uppercase;
        opacity: 1;
      }
      
      .navbar .navlayanan {
        margin-right: 40px !important;
        text-align: left;
        letter-spacing: 0px;
        font-family: Roboto !important;
        font-size: 14px;
        color: #333333;
        text-transform: uppercase;
        opacity: 1;
      }
      
      .navbar .navberita {
        margin-right: 40px !important;
        text-align: left;
        letter-spacing: 0px;
        font-family: Roboto !important;
        font-size: 14px;
        color: #333333;
        text-transform: uppercase;
        opacity: 1;
      }
      
      .navbar .navkontak {
        margin-right: 40px !important;
        text-align: left;
        letter-spacing: 0px;
        font-family: Roboto !important;
        font-size: 14px;
        color: #333333;
        text-transform: uppercase;
        opacity: 1;
      }
      
      .navbar .navmasuk {
        margin-left: 0px !important;
        text-align: left;
        letter-spacing: 0px;
        font-family: Roboto !important;
        font-size: 14px;
        color: #333333;
        text-transform: uppercase;
        opacity: 1;
      }
      
      .navbar .daftar {
        color: #ffffff;
        background-color: #28a745;
        border-color: #28a745;
        font-weight: 700;
      }
      
      .navbar .navhome2 {
        margin-right: 60px !important;
        text-align: left;
        width:40px;
        letter-spacing: 0px;
        font-family: Roboto !important;
        font-size: 14px;
        color: #333333;
        text-transform: uppercase;
        opacity: 1;
      }
      
      .navbar .navtentangkami2 {
        margin-right: 60px !important;
        text-align: left;
        letter-spacing: 0px;
        font-family: Roboto !important;
        font-size: 14px;
        color: #333333;
        text-transform: uppercase;
        opacity: 1;
      }
      
      .navbar .navlayanan2 {
        margin-right: 60px !important;
        text-align: left;
        letter-spacing: 0px;
        font-family: Roboto !important;
        font-size: 14px;
        color: #333333;
        text-transform: uppercase;
        opacity: 1;
      }
      
      .navbar .navberita2 {
        margin-right: 60px !important;
        text-align: left;
        letter-spacing: 0px;
        font-family: Roboto !important;
        font-size: 14px;
        color: #333333;
        text-transform: uppercase;
        opacity: 1;
      }
      
      .navbar .navkontak2 {
        margin-right: 60px !important;
        text-align: left;
        letter-spacing: 0px;
        font-family: Roboto !important;
        font-size: 14px;
        color: #333333;
        text-transform: uppercase;
        opacity: 1;
      }
      
      #font{
        outline: none !important;
      
      }
      .navbar .daftar:hover {
        color: #ffffff;
        background-color: #107127;
        border-color: #28a745;
        font-weight: 700;
      }
      
      
      .navbar .masuk {
        color: #FFFFFF;
        border-right: 1px #ffffff;
        box-shadow: 0px 0px 2px #ffffff;
        border-top: none;
        border-bottom: none;
        border-left: none;
        font-weight: 700;
        width: 70px;
        margin-left: 10px !important;
        background-color: $warnaRed;
        text-align: center;
      }
      
      .navbar .masuk:hover {
        color: #ffffff;
        border-right: 3px solid #ffffff;
        font-weight: 700;
      }

    .headtopp{
        top: 90px;
        width: 625px;
        height: 173px;
    }

    .detailheadtopp{
        text-align: left;
        font: Bold 20px/40px Poppins;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
    }

    .subheadtopp {
        margin-top: 10px;
        text-align: justify;
        font: 12px/24px Roboto;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
    }

    .daftarBtn {
        margin-top: 10px;
        width: 194px;
        height: 36px;
        background: $warnaRed 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 10px $warnaRed 3D;
        border-radius: 6px;
        opacity: 1;
    }
    
    .bghead {
        background: url('assets/img/home/bgilustrasi.svg') no-repeat padding-box;
        background-position: top right;
        background-size: 44%;
        height: 746px;
      }
      
      .bgtop {
        margin-top: -50px;
        background: url('assets/img/home/illustrasitop.svg') no-repeat padding-box;
        background-position: right;
        background-size: 80%;
        // height: 515px;
      }

      .tentangapp {
        text-align: center;
        margin-top: -20px;
      }

      .headtentang {
        text-align: center;
        font: Bold 30px/44px Poppins;
        letter-spacing: 0pt;
        color: #333333;
        opacity: 1;
      }
      
      .childTentang {
        text-align: center;
        font: 16px/30px Roboto;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
        padding-bottom: 30px;
      }
      
      .isitentangappon {
        text-align: center;
        width: 600px;
        padding-left: 30px;
        padding-right: 110px;
        line-height: 5px;
        font: 12px/24px Roboto;
        letter-spacing: 0px;
        color: #333333;
      }
      
      .p1 {
        line-height: 1.5;
      }
      
      .olehpt {
        padding-top:30px;
        text-align: center;
        font: bold 15px/30px Roboto;
        letter-spacing: 0px;
        color: #333333;
      }
      
      .pendaftaranapp {
        text-align: center;
        margin-top:30px;
      }

      .pengusahaRight {
        margin-left: 0px;
      }

      .judulpengusaha{
        text-align: center;
        font: bold 26px/44px Poppins;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
      }
      
      .subjudulpendaftaran {
        padding-top: 20px;
        text-align: center;
        font: 16px/26px Roboto;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
      }
      
      .daftarBtnPendaftaran {
        width: 204px;
        height: 36px;
        background: $warnaRed 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 10px $warnaRed 3D;
        border-radius: 6px;
        opacity: 1;
      }
      
      .carousel-indicators li {
        box-sizing: inherit !important;
      }
      
      .carousel-control-next, .carousel-control-prev {
        margin-top: -50px;
      }
      
      .carousel-control-prev-icon {
        width: 40px !important;
        height: 40px !important;
        margin-left: -50px;
      }
      
      .carousel-control-next-icon {
        width: 40px !important;
        height: 40px !important;
        margin-left: 50px;
      }
      
      .bgslidapp {
        background: transparent url('assets/img/home/smartphone_mockup@2x.png') 0% 0% no-repeat padding-box;
        height: 477px;
        // background-size:100%;
        background-size:127%;
      }
      
      .bgsliddark {
        background: #333333 0% 0% no-repeat padding-box;
        height: 345px;
        background-size:100%;
      }
      
      .judulsliddark {
        text-align: left;
        font: Bold 16px/32px Poppins;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        padding-top: 70px;
        padding-left: 30px;
        padding-bottom: 10px;
      }
      
      .subsliddark {
        text-align: left;
        padding-left: 30px;
        font: 10px/22px Roboto;
        letter-spacing: 0.16px;
        color: #FFFFFF;
        opacity: 1;
      }

      .cardberita {
        background: #E9E9E9 0% 0% no-repeat padding-box;
        box-shadow: 0px 6px 12px #00000024;
        border-radius: 20px;
        opacity: 1;
        width: 346px;
        height: 437px;
        background-size: 100%;
        opacity: 1;
        margin-left: 51px;
      }
      
      .judulberita {
        text-align: left;
        font: Bold 16px/26px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
      }
      
      .bgjudulberita {
        background: #333333 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 0px 0px 0px 5px;
        width: 104.6%
      }
      
      .descjudulberita {
        text-align: left;
        font: 14px/24px Roboto;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
      }
      
      .padjudulberita {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
      }
      
      .BtnSelengkapnya {
          width: 204px;
          height: 36px;
          background: #FFA127 0% 0% no-repeat padding-box;
          box-shadow: 0px 0px 3px #FFA127;
          border-radius: 6px;
          opacity: 1;
          color: #FFA127 !important;
      }
      
      .BtnArtikel {
        width: 204px;
        height: 36px;
        background: rgba(242,51,78,1) 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 3px rgba(242,51,78,1);
        border-radius: 6px;
        opacity: 1;
        color: rgba(242,51,78,1) !important;
      }

      .beritaapp {
        text-align: center;
        margin-top:-80px;
      }
      
      .headberita {
        font: Bold 28px/44px Poppins;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
      }
      
      .beritatentang {
        text-align: center;
        font: 16px/26px Roboto;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
        padding-bottom: 20px;
      }
      
      .cardberita {
        background: #E9E9E9 0% 0% no-repeat padding-box;
        box-shadow: 0px 6px 12px #00000024;
        border-radius: 20px;
        opacity: 1;
        width: 8000px;
        height: 300px;
        background-size: 100%;
        opacity: 1;
        margin-left: 51px;
        padding-top:90px;
        padding-left:0px;
      }
      
      .judulberita {
        text-align: left;
        font: Bold 12px/16px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
      }
      
      .midberita {
        font-size: 6px;
        padding-top: 10px;  
      }

      .bgjudulberita {
        background: #333333 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 0px 0px 0px 5px;
        width: 109.3%
      }
      
      .descjudulberita {
        text-align: left;
        font: 10px/12px Roboto;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
      }
      
      .padjudulberita {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
      }
      
      .BtnSelengkapnya {
          width: 120px;
          font-size: 10px !important;
          text-align: center;
          height: 30px;
          background: #FFA127 0% 0% no-repeat padding-box;
          box-shadow: 0px 0px 3px #FFA127;
          border-radius: 6px;
          opacity: 1;
          color: #FFA127 !important;
      }
      
      .BtnArtikel {
        width: 204px;
        height: 36px;
        background: rgba(242,51,78,1) 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 3px rgba(242,51,78,1);
        border-radius: 6px;
        opacity: 1;
        color: rgba(242,51,78,1) !important;
      }
      
      .footer {
        margin-top: 60px;
        background: transparent linear-gradient(180deg, $warnaRed 0%, #F05C72 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
      }
      
      .bgfooter {
        background: transparent url('assets/img/home/html/footerilustrasi.svg') 0% 0% no-repeat padding-box;
        background-size: 100%;
        opacity: 1;
        width: 463px;
        height: 361px;
        margin-top: -265px;
      }
      
      .foot1 {
        padding-left: 129px !important;
        padding-top: 25px;
        text-align: left;
        font: 14px/17px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
      }
      
      .foot2 {
        padding-top:25px;
        padding-left: 129px !important;
        text-align: left;
        font: 14px/17px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
      }
      
      .foot3 {
        font: 14px/17px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
      }
      
      .foot4 {
        font: 14px/17px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-top:-30px;
        text-align: center;
      }
      
      .btnIcon {
        color : #FFFFFF;
      }
      
      .btnIcon:hover {
        color: #ffffff;
        border-right: 0px solid #ffffff;
        font-weight: 700;
        text-decoration: none;
      }
      
      .paddingDaftar {
        padding-top: 130px;
        text-align: center;
        padding-bottom: 300px;
      }
      
      .textSigninDaftar {
        text-align: center;
        font: bold 14px/20px Poppins;
        letter-spacing: 0px;
        margin-left:150px;
        color: #FFFFFF;
        opacity: 1;
      }

      .bgheadSignin {
        background: url('assets/img/home/bgilustrasi.svg') no-repeat padding-box;
        background-position: top right -120px;
        background-size: 50%;
        max-width: 1920px;
      }
      
      .daftarBtnSignin {
        margin-top: 30px;
        // margin-left:150px;
        color : #FFFFFF !important;
        width: 130px;
        height: 36px;
        background: $warnaRed 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 10px $warnaRed 3D;
        border-radius: 6px;
        opacity: 1;
        border: 1px solid #FFFFFF !important;
        opacity: 1;
      }

      .daftarBtnSignup {
        margin-top: 30px;
        margin-left:150px;
        color : #FFFFFF !important;
        width: 130px;
        height: 36px;
        background: $warnaRed 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 10px $warnaRed 3D;
        border-radius: 6px;
        opacity: 1;
        border: 1px solid #FFFFFF !important;
        opacity: 1;
      }

      .headtopp2{
        padding-top : 100px;
      }
      
      .detailheadtoppSign{
        top : 119px;
        text-align: left;
        font-family: Roboto;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
      }
      
      .colorSign {
        background-color :$warnaRed !important
      }
      
      .subheadtoppSign {
        margin-top: 40px;
        text-align: justify;
        font: 14px/16px Roboto;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
      }
      
      .ui.tiny.image, .ui.tiny.images .image, .ui.tiny.images img, .ui.tiny.images svg {
        width: 50px !important;
      }

      .headtopp3{
        padding-top : 100px;
      }
      
      .titleModalDaftar {
        margin-left : auto;
        margin-right: auto;
        padding-top: 50px;
        text-align: center;
        font: Bold 24px/35px Poppins;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
      }
      
      .contentModalDaftar {
        padding-top: 25px;
        padding-bottom: 25px;
      }
      
      
      .btnDaftarPengusaha {
        border: 1px solid $warnaRed !important;
          color: $warnaRed !important;
          padding: 8px !important;
          width: 185px !important;
          height: 40px;
      }

      .btnDaftarPekerja {
        border: 1px solid $warnaRed !important;
          color: $warnaRed !important;
          padding: 8px !important;
          width: 185px !important;
          height: 40px;
      }

      
    .bgheadDashboard {
      background: url('assets/img/home/bgilustrasi.svg') no-repeat padding-box;
      background-position: top right -380px;
      background-size: contain;
      max-width: 100%;
      height: 805px;
    }

    .menuHeadbar {
      background: #333333 0% 0% no-repeat padding-box !important;
      opacity: 1;
      margin-top: 40px !important;
      padding-left : 0px !important;
    }

    .judulkontenKebPekerja {
      text-align: left;
      font: bolder 12px/26px Poppins;
      letter-spacing: 0px;
      color: #333333;
      opacity: 1;
    }
    
    .formKebPekerja {
      padding-top:19px;
      text-align: left;
      font: 12px/19px Roboto;
      letter-spacing: 0px;
      color: #333333;
      opacity: 1;
    }

    .btnUploadFile {
      background: #333333 0% 0% no-repeat padding-box !important;
      border: 1px solid #E9E9E9 !important;
      border-radius: 0px 4px 4px 0px !important;
    }
    
    .simpanKeb {
      margin-top: 30px;
      text-align: center;
      font: 16px/16px Roboto;
      letter-spacing: 0.48px;
      color : #FFFFFF !important;
      width: 227px;
      height: 40px;
      padding:8px !important;
      background: $warnaRed 0% 0% no-repeat padding-box;
      box-shadow: 0px 4px 10px #F2334E3D;
      border-radius: 6px !important;
      opacity: 1;
    }
    
    .textTambahLampiran {
      text-align: left;
      letter-spacing: 0px;
      color: rgba(0,0,0,.87) !important;
      opacity: 1;
      text-decoration: none;
    }

    .addKeahlian {
      width: 86% !important;
    }
    
    .imgdelfileKeahlian {
      background: none !important;
      padding: 0px 0px 0px 20px !important;
    }
    
    .delfileKeahlian {
      width: 100% !important;
      margin-bottom: -6px !important;
    }
    
}